@inherits ViewBase

<Library.UI.Components.Elements.LoadableContent Loading="@(Movie == null)">
    @if (editMode)
    {
        <i class="bi breadcrumb-item" @onclick="TurnOffEditMode" />
        <MovieEditForm EditableMovieModel="editableMovie" IsCreate="false" OnClose="OnClose" OnSuccess="TurnOffEditMode" />
    }
    else if (Movie != null)
    {
        if (Movie.Image != null)
        {
            <img src="@($"data:image/png;base64,{Convert.ToBase64String(Movie.Image)}")" alt="Uploaded Image" class="img-thumbnail" />
        }
        <i class="bi bi-pencil position-absolute end-0 p-2" @onclick="EnableEditMode" />
        <div>
            <p><strong>@Movie.Title</strong> @Movie.Stars <i class="bi bi-star" /></p>
            <p><strong>Series:</strong> @Movie.Series</p>
            <p>
                @if (Movie.Ongoing)
                {
                    <strong>Ongoing</strong>

                    <br />
                }
                @if (Movie.IsActivelyWatching)
                {
                    <strong>Reading</strong>

                    <br />
                }
            </p>
            <p><strong>Language:</strong> @Movie.Language</p>
            <p><strong>Writer:</strong> @Movie.Writer</p>
            <p><strong>Date Released:</strong> @Movie.DateReleased?.ToString("MM/DD/YYYY")</p>
            <p><strong>Summary:</strong> @Movie.Summary</p>
            <p><strong>Times Watched:</strong> @Movie.TimesWatched</p>
            <p><strong>Genre:</strong> @(String.Join(',',Movie.Genre))</p>
        </div>
    }
</Library.UI.Components.Elements.LoadableContent>