@inherits ViewBase

<Library.UI.Components.Elements.LoadableContent Loading="@(Music == null)">
    @if (editMode)
    {
        <i class="bi breadcrumb-item" @onclick="TurnOffEditMode" />
        <MusicEditForm EditableMusicModel="editableMusic" IsCreate="false" OnClose="OnClose" OnSuccess="TurnOffEditMode" />
    }
    else if (Music != null)
    {
        <i class="bi bi-pencil" @onclick="EnableEditMode" />
        <div>
            <p><strong>Title:</strong> @Music.Title</p>
            <p><strong>Album:</strong> @Music.Album</p>
            <p><strong>Singer:</strong> @Music.Artist</p>
            <p><strong>Composer:</strong> @Music.Composer</p>
            <p><strong>Language:</strong> @Music.Language</p>
            <p><strong>Date Published:</strong> @Music.DateReleased</p>
            <p><strong>Times Listened:</strong> @Music.TimesListenedTo</p>
            <p><strong>Stars:</strong> @Music.Stars</p>
            <p><strong>Genre:</strong> @Music.Genre</p>
        </div>
    }
</Library.UI.Components.Elements.LoadableContent>