@inherits ViewBase

<Library.UI.Components.Elements.LoadableContent Loading="@(Music == null)">
    @if (editMode)
    {
        <i class="bi breadcrumb-item" @onclick="TurnOffEditMode" />
        <MusicEditForm EditableMusicModel="editableMusic" IsCreate="false" OnClose="OnClose" OnSuccess="TurnOffEditMode" />
    }
    else if (Music != null)
    {
        if (Music.Image != null)
        {
            <img src="@($"data:image/png;base64,{Convert.ToBase64String(Music.Image)}")" alt="Uploaded Image" class="img-thumbnail" />
        }
        <i class="bi bi-pencil position-absolute end-0 p-2" @onclick="EnableEditMode" />
        <div>
            <p><strong>@Music.Title</strong> @Music.Stars <i class="bi bi-star"/> </p>
            <p><strong>Album:</strong> @Music.Album</p>
            <p><strong>Singer:</strong> @Music.Artist</p>
            <p><strong>Composer:</strong> @Music.Composer</p>
            <p><strong>Language:</strong> @Music.Language</p>
            <p><strong>Date Published:</strong> @Music.DateReleased</p>
            <p><strong>Times Listened:</strong> @Music.TimesListenedTo</p>
            <p><strong>Genre:</strong> @(String.Join(',',Music.Genre))</p>
        </div>
    }
</Library.UI.Components.Elements.LoadableContent>